body {
    margin: 0px;
    font-family: Verdana;
}

.container {
    max-width: 450px;
    margin: 5px auto;
}

.chat-shape {
    position: relative;
    background: #3b3737;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 53px;
    text-align: center;
    width: 448px;
    height: 54px;
    border-radius: 5px;
    padding: 0px;
}

.chat-shape:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #3b3737 transparent;
    border-width: 9px 8px 0;
    bottom: -9px;
    left: 85%;
    margin-left: -8px;
}

#time-left-highlighter {
    color: #F15F32;
    font-weight: bold;
}

.progress-bar {
    position: relative;
    margin: 25px auto 0;
    height: 18px;
    border: 0.7px solid rgb(153, 144, 144);
    overflow: hidden;
}

span.visual-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: #F15F32;
    transition: all .3s;
}